!**/[Pp]ackages/build/
!*.svg  # comment out if you don't need vector files
!.axoCover/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.class
*.code-workspace
*.coverage
*.coveragexml
*.ctxt
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.e2e
*.ear
*.GhostDoc.xml
*.gpState
*.ilk
*.iml
*.iobj
*.ipdb
*.iws
*.jar
*.jfm
*.jmconfig
*.launch
*.ldf
*.lnk
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.nar
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.pydevproject
*.rar
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.stackdump
*.stTheme.cache
*.sublime-workspace
*.suo
*.svclog
*.swp
*.tar.gz
*.tlb
*.tlh
*.tli
*.tlog
*.tmlanguage.cache
*.tmp
*.tmp_proj
*.tmPreferences.cache
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.war
*.xsd.cs
*.zip
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
*~.nib
.*crunch*.local.xml
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated/
.apt_generated_test/
.autotools
.axoCover/*
.buildpath
.builds
.cache-main
.classpath
.com.apple.timemachine.donotpresent
.cproject
.cr/personal
.directory
.DocumentRevisions-V100
.DS_Store
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.fuse_hidden*
.history/
.idea
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.ionide/
.loadpath
.localhistory/
.LSOverride
.metadata
.mfractor/
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.netrwhist
.nfs*
.ntvs_analysis.dat
.paket/paket.exe
.project
.recommenders
.recommenders/
.sass-cache/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.target
.TemporaryItems
.tern-project
.texlipse
.Trash-*
.Trashes
.VolumeIcon.icns
.vs/
.vscode/*
.vshistory/
.worksheet
/HELP.md
/target/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
AppPackages/
artifacts/
ASALocalRun/
atlassian-ide-plugin.xml
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bh_unicode_properties.cache
bin/
bld/
buildNumber.properties
BundleArtifacts/
ClientBin/
cmake-build-*/
com_crashlytics_export_strings.xml
coverage*.info
coverage*.json
coverage*.xml
crashlytics-build.properties
crashlytics.properties
csx/
dependency-reduced-pom.xml
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
fabric.properties
FakesAssemblies/
FodyWeavers.xsd
gen
Generated\ Files/
Generated_Code/
GitHub.sublime-settings
healthchecksdb
hs_err_pid*
Icon
ipch/
local.properties
MigrationBackup/
mono_crash.*
nCrunchTemp_*
Network Trash Folder
node_modules/
nunit-*.xml
OpenCover/
orleans.codegen.cs
oscrypto-ca-bundle.crt
out
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
paket-files/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
release.properties
replay_pid*
ScaffoldingReadMe.txt
ServiceFabricBackup/
Session.vim
Sessionx.vim
sftp-config-alt*.json
sftp-config.json
StyleCopReport.xml
tags
target/
Temporary Items
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
tmp/
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
~$*
/src/main/webapp/theme/
